.devise-container {
  h2 {
    color: white;
    text-align: center;
  }
  margin: 0 auto;
  width: 50%;
}

.devise-main-container{
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
}


