.win-msg > p{
  color: greenyellow;
  font-size: 100px;
  height: 300px;
  font-family: 'VT323', monospace;
}

#win-img{
  margin: 40px;
  width: fit-content;
  height: 300px;
}

#win-div{
  margin-bottom: 30px;
  display: flex;
}

#wrapper-win {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  padding: auto;
  a {
    text-decoration: none;
    width: fit-content;
    margin: auto;
  }
}
