<div data-controller="game-map"
     data-game-map-tileset-image-url-value="<%= image_path("basictiles.png") %>"
     data-game-map-characters-image-url-value="<%= image_path("characters.png") %>">
</div>
